# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
rioxarray
rasterio
xarray
requests
rio-tiler
pmtiles
geopandas
pillow
apache-airflow